/* creates the box layouts */
#calcBox{
    display: grid;
    grid-template-columns: 1/4;
    grid-template-rows: 1/6;
}

#display{
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: white;
    font-size: 50px;
}
#num0{
    grid-column: 4/5;
    grid-row: 3/4;
}
#num1{
    grid-column: 1/2;
    grid-row: 2/3;
}
#num2{
    grid-column: 2/3;
    grid-row: 2/3;
}
#num3{
    grid-column: 3/4;
    grid-row: 2/3;
}
#num4{
    grid-column: 1/2;
    grid-row: 3/4;
}
#num5{
    grid-column: 2/3;
    grid-row: 3/4;
}
#num6{
    grid-column: 3/4;
    grid-row: 3/4;
}
#num7{
    grid-column: 1/2;
    grid-row: 4/5;
}
#num8{
    grid-column: 2/3;
    grid-row: 4/5;
}
#num9{
    grid-column: 3/4;
    grid-row: 4/5;
}
#decimal{
    grid-column: 4/5;
    grid-row: 4/5;
}
#equOp{
    grid-column: 1/5;
    grid-row: 6/7;
}
#AC{
    grid-column: 4/5;
    grid-row: 2/3;
}

input{
    height: 128px;
    border-radius: 0;
    background-color: orange;
    font-size: 90px;
    border: 5px solid black;
    color: black;
}

input:hover{
    background-color: rgb(106, 69, 0);
    color: rgb(0, 0, 0);
}